@{
    ViewData["Title"] = "Home Page";
}

<!-- Home Section -->
<section id="home">
    <div class="bg-video-container">
        <video autoplay muted loop id="bg-bgvideo">
            <source src="assets/videos/background-video.mp4" type="video/mp4">
        </video>
        <div class="indextext-overlay">
            <img class="logo" src="assets/img/logos/stfrancis.png" alt="St Francis Logo">
            <h1 >In Time for the Future</h1>
        </div>
    </div>
</section>      
    
<!-- About Section -->
    <section id="about" class="py-5 bg-light">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <video controls style="width: 100%;">
                        <source src="assets/videos/company-video.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="col-md-6">
                    <h2 class="bg-light text-center" style="color: black; font-weight: bold;">About Us</h2>
                    <p>St Francis Productions is a multi-disciplinary organisation offering services in a wide range of fields. We specialise in 
                        Multimedia and Communications as well as ICT, offering advisory services to public and private companies. Our organisation 
                        also operates in the fields of Art and Design, particularly Film and TV Production, Publishing, ICT Solutions, Robotics,
                        Fashion and Fine Arts. 
                        <br><br>
                        Apart from this, we strive to develop the younger generation so they may contribute positively and effectively to our 
                        society and economy. Through our Skills Development Programmes, we offer qualifications in various fields, namely, ICT, 
                        3D Animation, Journalism, Radio and Film & TV Production, all of which have been accredited by the MICT SETA. 
                </div>
            </div>
        </div>
    </section>    

<!-- Team Section -->
    <section id="team" class="py-5 text-center bg-dark text-white">
        <div class="container">
            <h2 class="bg-dark" style="color: #fffe07; font-weight: bold;">Meet the Team</h2>
            <br>
            <br>
            <div id="teamCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="assets/img/team/Khumo.jpg" class="d-block mx-auto" style="height: 300px;">
                        <h5>Khumo Nakedi</h5>
                        <p>Writer</p>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/team/Dineo.jpg" class="d-block mx-auto" style="height: 300px;">
                        <h5>Dineo Matela</h5>
                        <p>Researched and Co-ordinator</p>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/team/Lakheni.jpg" class="d-block mx-auto" style="height: 300px;">
                        <h5>Lakheni Malgas</h5>
                        <p>Researcher and Translator</p>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/team/Ketha.jpg" class="d-block mx-auto" style="height: 300px;">
                        <h5>Kethabile Setshedi</h5>
                        <p>Communications Specialist</p>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/team/Katli.jpg" class="d-block mx-auto" style="height: 300px;">
                        <h5>Katlego Sedio</h5>
                        <p>Communications Specialist</p>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/team/Tisetso.jpg" class="d-block mx-auto" style="height: 300px;">
                        <h5>Tiisetso Mohapi</h5>
                        <p>Writer</p>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/team/Sonti.jpg" class="d-block mx-auto" style="height: 300px;">
                        <h5>Masontaha Mothupi</h5>
                        <p>HR</p>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/team/Xoli.jpg" class="d-block mx-auto" style="height: 300px;">
                        <h5>Xoliswa Pandova</h5>
                        <p>Administrator</p>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/team/psyvhologist.1.jpg" class="d-block mx-auto" style="height: 300px;">
                        <h5>Paulina Motsoasele</h5>
                        <p>Psychologist</p>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/team/Ella.jpg" class="d-block mx-auto" style="height: 300px;">
                        <h5>Ellelwang Ntemere</h5>
                        <p>Administrator</p>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/team/HR.jpg" class="d-block mx-auto" style="height: 300px;">
                        <h5>Sindiswa Adoons</h5>
                        <p>HR</p>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/team/Kamo.jpg" class="d-block mx-auto" style="height: 300px;">
                        <h5>Kamogelo Mongale</h5>
                        <p>Film Editor & Photographer</p>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/team/Kenneth.jpg" class="d-block mx-auto" style="height: 300px;">
                        <h5>Kenneth Morake</h5>
                        <p>Graphics Artist</p>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/team/Nomvulo.jpg" class="d-block mx-auto" style="height: 300px;">
                        <h5>Nomvula Moyana</h5>
                        <p>IT Solutions Engineer</p>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/team/Reatile.jpg" class="d-block mx-auto" style="height: 300px;">
                        <h5>Reatile Motjolela</h5>
                        <p>IT Solutions Engineer</p>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/team/Kat1.jpg" class="d-block mx-auto" style="height: 300px;">
                        <h5>Katleho Mohlomi</h5>
                        <p>IT Solutions Engineer</p>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/team/Glamini.jpg" class="d-block mx-auto" style="height: 300px;">
                        <h5>Dumisani Dhlamini</h5>
                        <p>Business Analyst</p>
                    </div>
                    <!-- Add more team members here -->
                </div>
                <!-- Carousel Controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#teamCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#teamCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            </div>
        </div>
    </section>

<!-- Services Section -->
    <section id="services" class="py-5 bg-light">
        <div class="container text-center">
            <h2 class="bg-light" style="font-weight: bold; color: black;">Services</h2>

            <br>
            <br>
            <br>

            <div class="row">
                <div class="col-md-3">
                    <a asp-controller="Publishing" asp-action="Index" class="image-button">
                        <i class="bi bi-laptop"></i>
                        <div class="images">
                            <img class="service-icons" src="assets/img/biz-services/publishing.png" style="height: 100px;">
                            <img class="service-icons-hover" src="assets/img/biz-services/publishing-hover.png" style="height: 100px;">
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a asp-controller="ICT" asp-action="Index" class="image-button">
                        <i class="bi bi-laptop"></i>
                        <div class="images">
                            <img class="service-icons" src="assets/img/biz-services/ict.png" style="height: 100px;">
                            <img class="service-icons-hover" src="assets/img/biz-services/ict-hover.png" style="height: 100px;">
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a asp-controller="Film" asp-action="Index" class="image-button">
                        <i class="bi bi-laptop"></i>
                        <div class="images">
                            <img class="service-icons" src="assets/img/biz-services/film.png" style="height: 100px;">
                            <img class="service-icons-hover" src="assets/img/biz-services/film-hover.png" style="height: 100px;">
                        </div>
                    </a>
                </div>
                <div class="col-md-3" >
                    <a asp-controller="Animation" asp-action="Index" class="image-button">
                        <i class="bi bi-laptop"></i>
                        <div class="images">
                            <img class="service-icons" src="assets/img/biz-services/animation.png" style="height: 100px;">
                            <img class="service-icons-hover" src="assets/img/biz-services/animation-hover.png" style="height: 100px;">
                        </div>
                    </a>
                </div>
                <!-- Add more services -->
            </div>

            <br>
            <br>
            <br>
            <br>

            <div class="row">
                <div class="col-md-3">
                    <a asp-controller="Robotics" asp-action="Index" class="image-button">
                        <i class="bi bi-laptop"></i>
                        <div class="images">
                            <img class="service-icons" src="assets/img/biz-services/robotics.png" style="height: 100px;">
                            <img class="service-icons-hover" src="assets/img/biz-services/robotics-hover.png" style="height: 100px;">
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a asp-controller="Content" asp-action="Index" class="image-button">
                        <i class="bi bi-laptop"></i>
                        <div class="images">
                            <img class="service-icons" src="assets/img/biz-services/content.png" style="height: 100px;">
                            <img class="service-icons-hover" src="assets/img/biz-services/content-hover.png" style="height: 100px;">
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a asp-controller="Training" asp-action="Index" class="image-button">
                        <i class="bi bi-laptop" style="font-size: 3rem;"></i>
                        <div class="images">
                            <img class="service-icons" src="assets/img/biz-services/training.png" style="height: 100px;">
                            <img class="service-icons-hover" src="assets/img/biz-services/training-hover.png" style="height: 100px;">
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a asp-controller="Arts" asp-action="Index" class="image-button">
                        <i class="bi bi-laptop"></i>
                        <div class="images">
                            <img class="service-icons" src="assets/img/biz-services/arts.png" style="height: 100px;">
                            <img class="service-icons-hover" src="assets/img/biz-services/arts-hover.png" style="height: 100px;">
                        </div>
                    </a>
                </div>
                <!-- Add more services -->
            </div>
        </div>
    </section>

<!-- Contact Section -->
    <section id="contact" class="py-5 bg-dark text-white">
        <div class="container bg-dark" >
            <h2 class="bg-dark" style="font-weight: bold;">Set an Appointment</h2>
            <iframe class="bg-dark" id="bookingIframe"
                src="https://outlook.office365.com/owa/calendar/StFrancisProductions@StFrancisIntranet.onmicrosoft.com/bookings/" 
                width="100%" 
                height="650"
                frameborder="0">
            </iframe>
        </div>
        <br><br>
    </section>
    
