@{
    ViewData["Title"] = "Training";
}

<div class="row" style="background-color:#1D2125">
        <div class="col">
            <div class="skills-video-container">
                <video class="skills-video" autoplay>
                    <source src="assets/videos/training-vid.mp4" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="col text-white text-center" style="background-color: #1D2125; align-content: center;" >
            <h4>We are committed to fostering growth and <br>
                empowerment through hands-on training in diverse <br>
                fields. Whether it’s creative arts, ICT, or 3D animation, our <br>
                programs ensure you’re ready to lead and innovate.</h4><br><br>
            <div class="btn btn-one">
                <a href="@Url.Action("Index", "Home")#contact" style="text-decoration: none;outline: none; border: none;">
                    <span style="color: #fffe07;">Apply Now!</span>
                </a>
            </div>
        </div>
    </div>
    <div class="bg-light"><br>
        <h2 class="text-center bg-light text-black" style="font-weight: bold;">Here are the qualifications we offer:</h2>
        <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>QUALIFICATION TITLE</th>
                <th>NQF LEVEL</th>
                <th>CREDITS</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>49077</strong></td>
                <td>National Certificate: Information: End User Computing</td>
                <td>Level 3</td>
                <td>130</td>
              </tr>
              <tr>
                <td><strong>78964</strong></td>
                <td>Further Education and Training Certificate: Information Technology: Technical Support</td>
                <td>Level 4</td>
                <td>163</td>
              </tr>
              <tr>
                <td><strong>78965</strong></td>
                <td>Further Education and Training Certificate: Information Technology: Systems Development</td>
                <td>Level 4</td>
                <td>165</td>
              </tr>	
              <tr>
                <td><strong>57607</strong></td>
                <td>National Certificate: 3D Animation and Visual Effects</td>
                <td>Level 5</td>
                <td>149</td>
              </tr>
              <tr>
                <td><strong>58978</strong></td>
                <td>National Certificate: Journalism</td>
                <td>Level 5</td>
                <td>120</td>
              </tr>
              <tr>
                <td><strong>62069</strong></td>
                <td>National Certificate: Radio Production</td>
                <td>Level 5</td>
                <td>159</td>
              </tr>
              <tr>
                <td><strong>58394</strong></td>
                <td>National Certificate: Film and Television Production</td>
                <td>Level 5</td>
                <td>122</td>
              </tr>	                 
            </tbody>
          </table>
          <br><br><br>
    </div>
    