@{
    ViewData["Title"] = "ICT";
}

<div class="row gx-0">
            <div class="col-md-3 icttext-overlay">
                <div class="">
                    <br><br><br>
                    <h1 style="font-weight: bolder; font-style: italic; text-decoration: underline; text-decoration-color: #fffe07;">ICT</h1>
                    <p style="color: white; font-weight: bold;">Partner with us to streamline operations, enhance productivity, and stay ahead 
                        in today’s competitive digital landscape. Let’s transform your challenges into opportunities with tailored ICT solutions 
                        that drive success.</p>
                    <br>
                </div>
            </div>
            <div class="col">
                <div class="ict-video-container">
                    <video autoplay muted loop id="ict-bgvideo">
                        <source src="assets/videos/ict-vid.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5" style="padding-left: 120px; padding-bottom: 50px;">
                <br><br><br>
                <h2 style="background-color: #2a2a2f; color: #faf7f7;">Welcome to the ICT Service Page!</h2>
                <br>
                <p>Our ICT services are designed to empower your business with innovative solutions and reliable support. From seamless system 
                    integration to robust IT infrastructure management, we ensure your technology works for you. Our expertise spans network 
                    ptimization, cloud solutions, cybersecurity, and user training—delivered with precision and professionalism.</p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <div class="timeline-area">
                    <div class="container">
                        <div class="timelines">
                            <h2 style="background-color: #2a2a2f;">Previous Projects</h2>
                        </div>
                        <div class="all-timelines">
                            <!--SINGLE TIMELINE-->
                            <div class="single-timeline d-flex-2">
                                <div class="timeline-blank"></div>
                                <div class="timeline-text d-flex-2">
                                    <span>
                                        <h6>29 August 2024</h6> — St Francis Productions SharePoint Intranet Completion
                                    </span>
                                    <div class="t-square"></div>
                                </div>
                            </div>
                            <!--SINGLE TIMELINE-->
                            <div class="single-timeline d-flex-2">
                                <div class="timeline-blank"></div>
                                <div class="timeline-text d-flex-2">
                                    <span>
                                        <h6>22 November 2024 </h6>— St Francis Productions Auto-Send Payslip Sytem
                                    </span>
                                    <div class="t-square"></div>
                                </div>
                            </div>
                            <!--SINGLE TIMELINE-->
                            <div class="single-timeline d-flex-2">
                                <div class="timeline-blank"></div>
                                <div class="timeline-text d-flex-2">
                                    <span>
                                        <h6>22 November 2024</h6> — St Francis Productions Clock-In/Clock-out System Launch
                                    </span>
                                    <div class="t-square"></div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <div class="row bg-dark">
            <div class="col-md-4" style="padding-left: 200px; padding-bottom: 50px;">
                <br><br><br>
                <img style="filter: invert();" src="assets/img/ict/ict-page.png" alt="ict">
            </div>
            <div class="col-md-2"></div>
            <div class="col">
                <br><br><br>
                <h2 class="text-white" style="text-align: center; background-color: rgba(255, 255, 255, 0.031);">Our Services</h2>
                <ul style="color: #faf7f7;">
                    <li>Web & Application Development</li>
                    <li>Cloud Solutions</li>
                    <li>Technical Support</li>
                    <li>Telecommunication Services</li>
                    <li>Data Analytics & Business Intelligence</li>
                    <li>ICT Consulting Services</li>
                </ul>
                <br>
                <div>
                    <a href="@Url.Action("Index", "Home")#contact" class="btn btn-one" style="text-decoration: none;outline: none; border: none;">
                        <span style="color: #fffe07;">Set an Appointment</span>
                    </a>
                </div><br><br><br><br><br><br><br><br>
            </div>
            
        </div>
        